table,
th,
td {
  border: 1px solid black;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.sample {
  text-align: center;
  padding: 50px;
}
.maindivSS {
  padding: 20px;
}
.maindivT {
  padding: 50px;
}
.div1 {
  text-align: center;
}
.div2 {
  display: flex;
  justify-content: space-between;
}

.div4 {
  display: flex;
}
.div5 {
  margin-left: 50px;
}

.div7SS {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.div7T {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.size {
  font-size: large;
}
